@{
    ViewData["Title"] = "Home";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <form class="form-inline" action="/Home/Login" method="POST">
        <div class="input-group">
            <input placeholder="klanten nummer" name="klantnr" type="number" class="form-control">
            <div class="input-group-append">
                <input type="submit" class="btn btn-primary"/>
            </div>
        </div>
    </form>
    
</div>

